body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;

}
.dark-blue-bg{
    background-color:#002648 ;
}

.section-img-hero{
    box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
}


.section-img{
    width: 300px;
    height: 500px;
    margin-left: 20px;    
    box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.75);
}

.skills-img{
    margin: 0px 20px;

    width: 300px;
    height: 300px;
}
.nav-link:hover{
color: #FFB000;
}

/* .horizontal-line {
    border: 1px solid #FFB000;
    width: 150px;
  
} */
.container > a > img{   
    height: 85px;
}
.navbackground{
   background-color: #003864; 
}

.col-sm-12{
    text-align: center;
}

.col-lg-6{
    text-align: left;
}

#nav-toggle-button{
    background-color:#cecccc;
}
/* hero-section-header */

#header-section{
    margin-top: 30px;
   
}
#hero-text > h1{
    color: #fff;
    font-family: Poppins;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -0.5rem;
}

#hero-text > h2{
    color: #FFB000;
    font-family: Poppins;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -0.5rem;
}
#hero-btn > button{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background: #FFB000;
    color: #002648;
    /* font-family: Poppins; */
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 2rem;
  
}

#hero-btn > button:hover{
    color: #f0f3f5
}

#header-section-img{
    width: 665px;
    height: 443px;
}
/*section-about-me */
#aboutme-text >h2{
    color: #002648;
    font-weight:500px;  
}
#aboutme-text >p{
    color: #002648;
    font-weight:500px;  
}
/* section-skills */
#skills-text > h2{
    color: #002648;
    font-weight:500px;  
}
#skills-text > p{
    color: #002648;
    font-weight:500px;  
}

.skills-img{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}
.skill-title{
  color: #fff; 
  margin-top: 20px; 
}
.skill-desc{
    color: #fff;
    margin-top: 2px;
    padding-bottom: 5px;
}

/*experience-skills */
#experience-title{
    padding-top: 10px;
}

#exp-section{
    margin-top: -5px;
    color: #002648;
    font-weight:500px;
}


.experience-info{
    border-bottom: 1px solid #cecccc;
    margin-top: 20px;
}
.exp-img{
    margin-top: 20px;
    width: 500x;
    height: 200px;
    padding-bottom: 15px;
}



/* contact-me */
form{
    color: #fff;
    padding: 0px 30px;

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #003864;
    color: white;}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #003864;
    color: white;}

    textarea{
        background-color: #003864;
        color: white; 
        padding: 12px 20px;
    }

.gmap_iframe {
    width:600px!important;
    height:450px!important;
    padding-right: 20px;
}
/* footer */
.footer-logo > a> img{
    height: 75px;
    padding-top: 10px;
}
.social >a> svg{
    margin: 20px;
    
}



